<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('会员余额的增加和减少列表')" />
</head>
<body class="gray-bg">
<div class="container-div">
	<div class="row">
		<div class="col-sm-12 search-collapse">
			<form id="formId">
				<div class="select-list">
					<ul>
						<li>
							店铺名称：<input type="text" name="sysDept.deptName"/>
						</li>
						<!--<li>
							操作时间：<input type="text" name="operationTime"/>
						</li>-->
						<li class="select-time">
							<label>操作时间： </label>
							<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
							<span>-</span>
							<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
						</li>
						<li>
							交易金额：<input type="text" name="changeMoney"/>
						</li>

						<!--<li>
							奖励金额：<input type="text" name="complimentaryMoney"/>
						</li>-->

						<li>
							员工工号：<input type="text" name="workerid"/>
						</li>

						<!--<li>
							状态：<input type="text" name="state"/>
						</li>-->
						<li>
							交易状态：<select name="state" th:with="type=${@dict.getType('sys_balance_state')}">
							<option value="">所有</option>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
						</li>
						<li>
							支付方式：<select name="paytype" th:with="type=${@dict.getType('sys_balance_payway')}">
							<option value="">所有</option>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
						</li>
						<!--<li>
							付款方式：<input type="text" name="paytype"/>
						</li>-->

						<li>
							订单号：<input type="text" name="payorderNO"/>
						</li>


						<li>
							备注：<select name="memo" th:with="type=${@dict.getType('sys_refund_card')}">
							<option value="">所有</option>
							<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
						</select>
						</li>

						<li>
							<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
						</li>
					</ul>
				</div>
			</form>
		</div>

		<div class="btn-group-sm" id="toolbar" role="group">
			<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:tBalanceChange:add">
				<i class="fa fa-plus"></i> 添加
			</a>
			<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:tBalanceChange:edit">
				<i class="fa fa-edit"></i> 修改
			</a>
			<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:tBalanceChange:remove">
				<i class="fa fa-remove"></i> 删除
			</a>
			<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:tBalanceChange:export">
				<i class="fa fa-download"></i> 导出
			</a>
		</div>
		<div class="col-sm-12 select-table table-striped">
			<table id="bootstrap-table" data-mobile-responsive="true"></table>
		</div>
	</div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
	var editFlag = [[${@permission.hasPermi('system:tBalanceChange:edit')}]];
	var removeFlag = [[${@permission.hasPermi('system:tBalanceChange:remove')}]];
	var prefix = ctx + "system/tBalanceChange";
	var data_state = [[${@dict.getType('sys_balance_state')}]];
	var data_payway = [[${@dict.getType('sys_balance_payway')}]];
	var datas = [[${@dict.getType('sys_refund_card')}]];
	$(function() {
		var options = {
			url: prefix + "/list",
			createUrl: prefix + "/add",
			updateUrl: prefix + "/edit/{id}",
			removeUrl: prefix + "/remove",
			exportUrl: prefix + "/export",
			modalName: "会员余额的增加和减少",
			showExport: true,
			columns: [{
				checkbox: true
			},
				{
					field : 'id',
					title : 'ID',
					visible: false
				},
				{
					field : 'sysDept.deptName',
					title : '店铺名称',
					sortable: true
				},
				{
					field : 'memberNo',
					title : '会员卡号',
					sortable: true
				},
				{
					field : 'changeMoney',
					title : '交易金额',
					sortable: true
				},
				{
					field : 'complimentaryMoney',
					title : '奖励金额',
					sortable: true
				},
				{
					field : 'workerid',
					title : '员工工号',
					sortable: true
				},
				{
					field : 'state',
					title : '状态',

					align: "left",
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(data_state, item.state);
					}
				},
				// {
				// 	field : 'state',
				// 	title : '状态',
				// 	sortable: true
				// },
				// {
				// 	field : 'paytype',
				// 	title : '付款方式',
				// 	sortable: true
				// },
				{
					field : 'paytype',
					title : '付款方式',
					align: "left",
					formatter: function(value, item, index) {
						return $.table.selectDictLabel(data_payway, item.paytype);
					}
				},
				{
					field : 'payorderNO',
					title : '订单号',
					sortable: true
				},
				{
					field : 'operationTime',
					title : '操作时间',
					sortable: true
				},
				{
					field : 'memo',
					title : '备注',
					align: 'center',
					formatter: function(value, row, index) {
						return $.table.selectDictLabel(datas, value);
					}
				},
				{
					title: '操作',
					align: 'center',
					formatter: function(value, row, index) {
						var actions = [];
						actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>查看</a> ');
						actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
					}
				}]
		};
		$.table.init(options);
	});
</script>
</body>
</html>