<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改消费机')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-tConsumerMachine-edit" th:object="${tConsumerMachine}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">商户信息：</label>
				<div class="col-sm-8">
					<input id="shopInfo" name="shopInfo" th:field="*{shopInfo}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">商户编号：</label>
				<div class="col-sm-8">
					<input id="shopNum" name="shopNum" th:field="*{shopNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">卡密：</label>
				<div class="col-sm-8">
					<input id="kalman" name="kalman" th:field="*{kalman}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">本设备模式：</label>
				<div class="col-sm-8">
					<input id="devMode" name="devMode" th:field="*{devMode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">服务器域名：</label>
				<div class="col-sm-8">
					<input id="domain" name="domain" th:field="*{domain}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">端口号：</label>
				<div class="col-sm-8">
					<input id="port" name="port" th:field="*{port}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最大消费金额：</label>
				<div class="col-sm-8">
					<input id="maxMoney" name="maxMoney" th:field="*{maxMoney}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">押金：</label>
				<div class="col-sm-8">
					<input id="deposit" name="deposit" th:field="*{deposit}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">当次限额：</label>
				<div class="col-sm-8">
					<input id="current" name="current" th:field="*{current}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">卡标示：</label>
				<div class="col-sm-8">
					<input id="cardLabeling" name="cardLabeling" th:field="*{cardLabeling}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">折扣：</label>
				<div class="col-sm-8">
					<input id="discount" name="discount" th:field="*{discount}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">卡类型：</label>
				<div class="col-sm-8">
					<input id="cardType" name="cardType" th:field="*{cardType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">本设备名称：</label>
				<div class="col-sm-8">
					<input id="devName" name="devName" th:field="*{devName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">升级文件目录及信息：</label>
				<div class="col-sm-8">
					<input id="file" name="file" th:field="*{file}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">请求路径：</label>
				<div class="col-sm-8">
					<input id="path" name="path" th:field="*{path}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">账号：</label>
				<div class="col-sm-8">
					<input id="account" name="account" th:field="*{account}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">密码：</label>
				<div class="col-sm-8">
					<input id="pwd" name="pwd" th:field="*{pwd}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备ID：</label>
				<div class="col-sm-8">
					<input id="devId" name="devId" th:field="*{devId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">设备请求时间：</label>
				<div class="col-sm-8">
					<input id="time" name="time" th:field="*{time}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "system/tConsumerMachine";
		$("#form-tConsumerMachine-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-tConsumerMachine-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
